.background{
    -fx-background-color: #2d2d30;
}
.label{
    -fx-font-family: "Arial Black";
}
.labeladress{
    -fx-font-family: "Myriad Pro";
}
.labelemp{
    -fx-font-family: "Myriad Pro";
    -fx-label-alignment: right;
    -fx-font-size: 20px;
}
.hyperlink{
    -fx-border-color: transparent;
    -fx-font-size: 15px;
}
.hbox{
    -fx-background-color: #d7d7d7;
}
.price{
    -fx-background-color: #d7d7d7;
}
.check{
    -fx-background-color: #d7d7d7;

}
.check:hover{
    -fx-background-color: #c7c6cf;
}
.add{
    -fx-background-color: #9eada4;

}
.add:hover{
    -fx-background-color: #475950;
}
.checkStructure{
    -fx-font-family: Arial;
}
.TableView{
    -fx-font-family: "Arial Black";
}
.logout{
    -fx-text-fill: #b0b0b0;
    -fx-font-size: 15px;
}
.logout:hover{
    -fx-text-fill: white;
    -fx-font-size: 15px;
}
.remove{
    -fx-background-color: #856565;
}
.remove:hover{
   -fx-background-color: #614d4d;
}
.info{
    -fx-background-color: #9bb1ba;
}
.info:hover{
    -fx-background-color: #6a7980;
}
.return{
    -fx-background-color: #7f7182;
}
.return:hover{
    -fx-background-color: #575059;
}
.totalAmount{
    -fx-background-color: #9eada4;
}
.sell{
    -fx-background-color: #e3cb8f;
    -fx-font-size: 15px;
}
.sell:hover{
    -fx-background-color: #a1894d;
}